<article class="home listed">
    <a class="category" href="
    {% if event %}
        {{ show_events_url }}
    {% else %}
        {{ article.category.url }}
    {% endif %}">
        {% if event %}
            Event
        {% else %}
            {{ article.category.title }}
        {% endif %}
    </a>
    <header>
        <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
        {% if event %}
            <span class="author">{{ article.}}</span>
        {% else %}
            <span class="author">by {{ article.author.username }}</span>
        {% endif %}
    </header>
    <p>{{ article.body|striptags|safe|truncatewords:25 }}</p>
</article>