{% load thumbnail %}
<article class="six columns home listed{% if article.start_date %} event{% else %} article{% endif %}"
    itemscope
    {% if article.start_date %}
        itemtype="http://schema.org/Event"
    {% else %}
        itemtype="http://schema.org/Article"
    {% endif %}
>
    <header>
        {% if article.image %}
            <aside>
                <a class="category" itemprop="articleSection" href="
                {% if article.start_date %}
                    {% url suave_calendar:home %}
                {% else %}
                    {{ article.category.url }}
                {% endif %}">
                    {% if article.start_date %}
                        Event
                    {% else %}
                        {{ article.category.title }}
                    {% endif %}
                </a>
            </aside>
            {% if article.first %}
                {% thumbnail article.image.image '690x150' crop='center' as im %}
                    <a href="{{ article.get_absolute_url }}"><img itemprop="image" src="{{ im.url }}" width=690 height=150></a>
                {% endthumbnail %}
            {% else %}
                {% thumbnail article.image.image '335x85' crop='center' as im %}
                    <a href="{{ article.get_absolute_url }}"><img itemprop="image" src="{{ im.url }}" width=335 height=85></a>
                {% endthumbnail %}
            {% endif %}
        {% endif %}
        <h1 itemprop="name"><a href="{{ article.get_absolute_url }}" itemprop="url">{{ article.title|truncatechars:60 }}</a></h1>
        {% if article.start_date %}
            {% if article.first %}
                {% include 'suave_calendar/snippets/event_date.html' with event=article %}
            {% else %}
                {% include 'suave_calendar/snippets/event_date.html' with event=article short='yes' %}
            {% endif %}
        {% else %}
            {% include 'suave_press/snippets/author.html' with article=article %}
        {% endif %}
    </header>
    {% if article.start_date %}
    <span class="location" itemprop="location">{{ article.location }}</span>
    {% endif %}
    {% if article.first %}
        <p>{{ article.body|striptags|safe|truncatechars:440 }}</p>
    {% else %}
        <p>{{ article.body|striptags|safe|truncatechars:140 }}</p>
    {% endif %}
</article>