{% load thumbnail %}
<article class="home listed">
    <header>
        {% if article.image %}
            <aside>
                <a class="category" href="
                {% if event %}
                    {% url suave_calendar:home %}
                {% else %}
                    {{ article.category.url }}
                {% endif %}">
                    {% if event %}
                        Event
                    {% else %}
                        {{ article.category.title }}
                    {% endif %}
                </a>
            </aside>
            {% thumbnail article.image.image '335x85' crop='center' as im %}
                <a href="{{ article.get_absolute_url }}"><img src="{{ im.url }}" width=335 height=85></a>
            {% endthumbnail %}
        {% endif %}
        <h1><a href="{{ article.get_absolute_url }}">{{ article.title|truncatechars:60 }}</a></h1>
        {% if event %}
            {% include 'suave_calendar/snippets/event_date.html' with event=article short='yes' %}
        {% else %}
            {% include 'suave_press/snippets/author.html' with article=article %}
        {% endif %}
    </header>
    <p>{{ article.body|striptags|safe|truncatechars:140 }}</p>
</article>