{% extends 'macros.html' %}
{%- macro render_field(field, class=None, label=None) -%}
    {%- if field.type != 'HiddenField' -%}
    <dt>{{ field.label(label=label) }}
        <dd class="{{ class }}">{{ field(placeholder=field.description, **kwargs)|safe }}
      {%- if field.errors -%}
        <ul class="errors">
        {% for error in field.errors %}<li>{{ error }}{% endfor %}
        </ul>
      {%- endif -%}
      </dd>
    {%- else -%}
        {{ field(**kwargs) }}
    {%- endif -%}
{%- endmacro -%}
{% block main %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Admin - Brighton Feminist Collective</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/layout.css') }}">
  <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='admin/images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='admin/images/apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='admin/images/apple-touch-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='admin/images/apple-touch-icon-114x114.png') }}">
  <script src="{{ url_for('static', filename='admin/js/libs/modernizr-2.5.3.min.js') }}"></script>

</head>
<body>



  <!-- Primary Page Layout
  ================================================== -->


  <div class="container">
    <header class="sixteen columns">
      <div class="twelve columns alpha omega">
        <h1 class="remove-bottom">Brighton Feminist Collective</h1>
      </div>
      <div class="four columns alpha omega">
        <p class="welcome-user">
          Welcome back, <span class="user"><a class="link" href="#">Jane Doe</a><span class="group"> Writer</span></span>
        </p>
        <p class="welcome-group">
          <span class="user"><a class="link" href="#">Jane Doe</a><span class="group"> Writer</span></span>
        </p>
      </div>
    </header>
    <nav class="four columns">
    {% block nav_column %}
      <p>This could be useful, also.</p>
    {% endblock %}
    </nav>
    <section id="articles" class="twelve columns">
    {% block main_column %}
      <p>There really should be something here.</p>
    {% endblock %}
    </section>


  </div><!-- container -->



  <!-- JS
  ================================================== -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='admin/js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>
  <script src="{{ url_for('static', filename='admin/js/tabs.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/js/libs/ICanHaz.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/js/plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/js/script.js') }}"></script>
  {% block js %}{% endblock %}
<!-- End Document
================================================== -->
</body>
</html>
{% endblock %}