{% extends 'base.html' %}
{%- macro render_field(field) -%}
    {%- if field.type != 'HiddenField' -%}
    <dt>{{ field.label() }}
        <dd>{{ field(placeholder=field.description, **kwargs)|safe }}
      {%- if field.errors -%}
        <ul class="errors">
        {% for error in field.errors %}<li>{{ error }}{% endfor %}
        </ul>
      {%- endif -%}
      </dd>
    {%- else -%}
        {{ field(**kwargs) }}
    {%- endif -%}
{%- endmacro -%}
{% block js %}
  <script src="{{ url_for('static', filename='admin/js/admin.js') }}"></script>
  {% block admin_js %}{% endblock %}
{% endblock js %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/admin.css') }}">
{% endblock %}
{% block content %}
  <header class="alpha omega twelve columns">
      <h1>Admin</h1>
  </header>
  {% block admin_content %}{% endblock %}
{% endblock %}