{% extends 'page.html' %}
{% macro article_block(article, event=False) %}
    <article class="home listed">
        <a class="category" href="{{ article.category.url }}">
            {% if event: %}
                Event
            {% else %}
                {{ article.category.title }}
            {% endif %}
        </span>
        <img/>
        <header>
            <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
            <span class="author">by {{ article.author.fullname }}</span>
        </header>
        <p>{{ article.excerpt }}&hellip;</p>
    </article>
{% endmacro %}
{% block header %}
    <div class="twelve columns alpha omega" id="home-banner">
        <p class="six columns">Here would be some excellent, catchy, introductory text for the group.</p>
        <p class="six columns quote">&ldquo;Perhaps, a pretentious quote, would go well here.&rdquo; &mdash; Ron Paul</p>
    </div>
    <div class="six columns alpha articles">
        {% for article in articles %}
            {{ article_block(article) }}
        {% endfor %}
    </div>
    <div class="six columns omega">
        {% for event in events %}
            {{ article_block(event) }}
        {% endfor %}
    </div>
    <hr />
{% endblock %}