{% extends 'page.html' %}
{% macro article_block(article, event=False) %}
    <article class="home listed">
        <a class="category" href="{{ article.category.url }}">
            {% if event: %}
                Event
            {% else %}
                {{ article.category.title }}
            {% endif %}
        </span>
        <img/>
        <header>
            <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
            <span class="author">by {{ article.author.fullname }}</span>
        </header>
        <p>{{ article.excerpt }}&hellip;</p>
    </article>
{% endmacro %}
{% block header %}
    <div class="twelve columns alpha omega" id="home-banner">
        <p class="six columns">Here would be some excellent, catchy, introductory text for the group.</p>
        <p class="six columns quote">&ldquo;Perhaps, a pretentious quote, would go well here.&rdquo; &mdash; Ron Paul</p>
    </div>
    <div class="six columns alpha articles">
        {% for article in articles %}
            {{ article_block(article) }}
        {% endfor %}
    </div><div class="six columns omega events">
        
            
    <article class="home listed">
        <a class="category" href="/articles/news">
            
                Event
            
        
        <img>
        </a><header><a class="category" href="/articles/news">
            </a><h1><a class="category" href="/articles/news"></a><a href="/articles/news/first-article">Reclaim the Dancefloor</a></h1>
        </header>
        <p>Bacon ipsum dolor sit amet hamburger dolore drumstick ribeye, deserunt nisi jowl fatback short ribs. Enim proident short loin incididunt, do…</p>
    </article>

        
            
    <article class="home listed">
        <a class="category" href="/articles/feminism">
            
                Event
            
        
        <img>
        </a><header><a class="category" href="/articles/feminism">
            </a><h1><a class="category" href="/articles/feminism"></a><a href="/articles/feminism/another-article">40 Days of Treats</a></h1>
        </header>
        <p>Tongue pork belly exercitation, pig tri-tip dolore ribeye pancetta. Meatball aute ex t-bone, incididunt pork labore commodo et nulla laboris…</p>
    </article>

        
    </div>
    <hr />
{% endblock %}