{% extends 'page.html' %}
{% macro article_block(article, event=False) %}
    <article class="home listed">
        <a class="category" href="
        {%- if event: -%}
            {{ url_for('frontend.show_events')}}
        {%- else -%}
            {{ article.category.url }}
        {%- endif -%}">
            {% if event: %}
                Event
            {% else %}
                {{ article.category.title }}
            {% endif %}
        </a>
        <header>
            <h1 class=".tk-chinese-rocks"><a href="{{ article.url }}">{{ article.title }}</a></h1>
            {% if event: %}
                <span class="author">{{ article.start.strftime('%B %d, %Y @ %I:%M%p') }} &mdash; {{ article.end.strftime('%I:%M%p') }}</span>
            {% else %}
                <span class="author">by {{ article.author.displayed_name }}</span>
            {% endif %}
        </header>
        <p>{{ article.excerpt }}</p>
    </article>
{% endmacro %}
{% block header %}
    <div class="twelve columns alpha omega" id="black-bloc">
        <p class="six columns">Started in December 2011, Brighton Feminist Collective is a sex-positive, pro-choice, trans-inclusive, and anti-exploitation feminist activist group.</p>
        <p class="six columns">Follow <a href="http://twitter.com/BrightonFemCol">@BrightonFemCol</a> on Twitter</p>
        
        <p class="eight columns quote">&ldquo;My feminism will be intersectional or it will be bullshit!&rdquo; &ndash; Flavia Dzodan</p>
    </div>
    <div class="six columns alpha articles">
        {% for article in articles %}
            {{ article_block(article) }}
        {% endfor %}
    </div><div class="six columns omega events">
        

        {% for event in events %}
            {{ article_block(event, event=True) }}
        {% endfor %}
        
    </div>
    <hr />
{% endblock %}