*.log
*.pyc
*.sublime-project
btnfemcol/static/img/avatar/*.*
!btnfemcol/static/img/avatar/default.png
btnfemcol/static/img/event/*.*
!btnfemcol/static/img/event/default.png
btnfemcol/local_settings.py
build/
dist/
*.db
config.py
*.un~
manage.py
btnfemcol/local_settings.py
*.egg-info/
