Django
django-suave>=0.4.5
sorl-thumbnail
django-model-utils
django-pjax
south
django-reversion
django-compressor
pylibmc
django-pylibmc
git+git://github.com/ashwoods/django-labjs.git#egg=django-labjs
twitter-text-py>=1.0.3
python-twitter>=0.8.2
django-tinymce

