Django>=1.4.2
PIL>=1.1.7
South>=0.7.6
django-compressor>=1.2
django-model-utils>=1.1.0
django-pylibmc>=0.2.3
git+git://github.com/etianen/django-require.git#egg=django-require
django-reversion>=1.6.2
django-suave>=0.5.0
django-tinymce>=1.5.1b2
psycopg2>=2.4.5
pylibmc>=1.2.3
python-twitter>=0.8.2
requests>=0.14.2
sorl-thumbnail>=11.12
twitter-text-py>=1.0.3
django-grappelli>=2.4.3
