{{ event.tags_html|safe }}
<div>
    <h1 itemprop="name">{{ event.title }}</h1>
</div>
{% if event.location %}
    <div><label>Location</label>
       <a href="https://maps.google.co.uk/?q={{ event.location }}" itemprop="location">{{ event.location }}</a>
    </div>
{% endif %}
<div><label>When</label>
    {% include 'suave_calendar/snippets/event_date.html' %}
</div>
{% if event.price %}
    <div><label>Price</label>
        <span class="event price">
            &pound;{{ event.price|floatformat:-2 }}
        </span>
    </div>
    <span class="hide" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <span itemprop="price">{{ event.price|floatformat:-2 }}</span>
        <span itemprop="priceCurrency">GBP</span>
    </span>
{% endif %}
<span class="hide" itemprop="startDate">{{ event.start_date|date:'c' }}</span>
<span class="hide" itemprop="endDate">{{ event.end_date|date:'c' }}</span>