@mixin UniversCn($style: normal) {
  font-family: 'UniversCn', sans-serif;
  text-transform: uppercase;
  font-style: $style;
}

@mixin CategoryAside($top, $font-size: 18px) {
  aside {
    display: block;
    overflow: hidden;
    position: absolute;
    top: $top;
    width: 100%;
    z-index: 99999;
    span, a {
      float: right;
      background-color: black;
      color: white;
      padding: 0 0 0 3px;
      margin-right: 5px;
      @include UniversCn;
      font-size: $font-size;
      text-decoration: none;
      font-weight: normal;
    }
  }
}

.hide {
  display: none !important;
}

body {
  background-color: #010101;
  background-image: url(../images/skewed_print.png);
  color: white; }

a {
  color: black;
  &:visited {
    color: black; } }

code {
  font-family: 'Dejavu Sans Mono', monospace; }

ul li {
  list-style-type: square;
  margin-left: 1em;
  line-height: 1.4; }

pre {
  background-color: #010101;
  color: white;
  padding: 10px;
  margin: 20px 10px; }

div.container {
  background: white;
  color: black; }

section.breadcrumbs {
  width: 100%;
  display: block;
  height: 20px;
  float: left;
  margin: 10px 0 10px 0;
  ul {
    li {
      list-style-type: none;
      margin: 0px;
      float: left;
      margin-right: 5px;
      font-size: 12px;
      text-transform: uppercase;
      a {
        margin-right: 5px;
      }
    }
    li:after {
      content: "/";
    }
    li:last-child:after {
      content: "";
    }
    li:last-child {
      a {
        text-decoration: none;
      }
    }
  }
}

#main-container>header {
  overflow: hidden;
  background: url(../images/logo_lg_head_960.png) no-repeat top;
  h1 {
    span.line-1 {
      font-size: 24px;
      display: block;
    }
    span.line-2 {
      display: block;
      font-size: 43px;
      height: 20px;
      margin-left: -2px;
      margin-top: 2px;
      margin-bottom: 5px;
    }
    display: block;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 0px;
    line-height: .8;
    a {
      color: white; } } }

body>div>header h1 {
  color: white; }

#main>header {
  margin-bottom: 10px;
  margin-top: 10px;
  h1 {
    font-size: 32px;
    color: black;
    margin-top: 0px; }
  span {
    &.tags {
      font-size: 10px;
      text-transform: uppercase;
      a {} }
    &.date {
      font-size: 14px;
      display: block; } }
  .event.date {
    font-size: 18px; }
  span {
    &.date sup {
      text-transform: none; }
    &.subtitle {
      font-size: 16px;
      font-style: italic;
      margin-bottom: 15px;
      display: block; } } }

#main {
  padding-bottom: 10px;
  div {
    p {
      line-height: 1.2; 
      word-wrap: break-word; }
    &.page p {
      line-height: 1.4;}
    ul {
      margin-left: 1em; }
    &.article p {
      line-height: 28px;
      font-size: 17px; }
    img {
      float: left;
      margin: 0px 10px 10px 0px;
      &.even {
        float: right;
        margin: 0px 0px 10px 10px; } } }

  hr {
    height: 3px;
    border: 0px;
    background-color: black;
  }

  /* HOME PAGE COLUMN THINGS */
  div.home-boxes {
    float: left;
    margin-left: 0px;
    article {
      padding: 0;
      margin: 10px 0 0 0;
      width: 345px;

      header {
        position: relative;
        clear: both;
        display: block;
        overflow: hidden;
        @include CategoryAside(10px, 14px);
        img {
          border: 5px solid black;
          border-bottom: none;
          margin: 0;
        }
        h1 {
          width: 100%;
          background-color: black;
          color: white;
          font-size: 18px;
          line-height: 18px;
          margin: 0;
          padding: 5px 3px 2px 3px;
          a {
            font-size: 18px;
            color: white;
          }
        }
        span {
          background-color: #521717;
          color: white;
          display: block;
          padding: 0px 3px;
          @include UniversCn;
        }
      }
    }
    article:nth-child(odd) {
      margin-right: 10px;
    }
  }
}

div.container>header a {
  text-decoration: none; }

footer {
  color: white;
  a {
    color: white;
    &:visited {
      color: white; } } }

figure {
  background: #521717;
  color: white;
  font-size: 12px;
  padding: 10px;
  width: 240px;
  margin: 10px 0px; }

.align {
  &.right {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em; }
  &.left {
    float: left;
    margin-right: 2em; } }

blockquote.giant {
  font-size: 28px;
  &:before {
    content: '&ldquo;'; } }

figure img {
  width: 100%; }

figure>a {
  display: block;
  width: 100%;
  text-align: right;
  font-style: italic;
  color: white;
  text-decoration: none;
  &:visited {
    display: block;
    width: 100%;
    text-align: right;
    font-style: italic;
    color: white;
    text-decoration: none; }
  &:before {
    content: "Source: ";
    text-decoration: none; } }

sup {
  font-size: 70%;
  vertical-align: super; }

div.container>aside {
  background: #0a0a0a;
  padding: 0px; }

#main #black-bloc {
  color: white;
  display: block;
  height: 200px;
  background: url(../images/logo_sm_rect_200.png) #080808 right no-repeat;
  padding: 0px;
  margin-top: 10px;
  p {
    line-height: 1.2;
    margin: 10px 10px 16px 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    a {
      color: white;
      &:visited {
        color: white; } }
    &.quote {
      margin-top: 0px;
      font-size: 22px;
      line-height: 1.2;
      font-style: italic;
      text-transform: none; } } }

div {
  &.container>footer {
    padding: 10px;
    background: #080808; }
  &.container>header nav {
    background: #080808;
    width: 100% !important;
    color: white;
    a {
      color: white;
      &:hover {
        background: #3d1111; } }
    li {
      float: left;
      list-style-type: none;
      margin: 0px;
      a {
        display: block;
        text-align: center;
        font-size: 16px;
        padding: 8px 10px;
        color: white; } } }
  &.container > header nav > ul {
    &.primary > li.selected a, &.secondary a {
      color: white; }
    &.primary > li.selected, &.secondary {
      background: #521717;
      color: white; } }
  &.container>header nav>ul {
    overflow: hidden;
    width: 100%;
    margin: 0px;
    &.secondary>li.selected {
      font-weight: 800; } } }

/* Article related */

#main {
  header.articles {
    h1 {
      font-size: 48px;
      line-height: 48px;
    }
  }
  div.articles {
    article {
      display: block;
      overflow: hidden;
      width: 345px;
      float: left;
      margin-right: 10px; 
      header {
        width: 100%;
        position: relative;
        aside {
          display: none;
        }
        aside.credit {
          display: block;
          top: 100%;
          margin-top: -70px;
          height: 16px;
          span {
            float: right;
            color: white;
            background-color: rgba(0,0,0,.5);
            text-transform: none;
            font-size: 12px;
            font-family: Lora
          }
        }
        h1 {
          background-color: black;
          display: block;
          padding: 3px 3px 3px 3px;
          line-height: 24px;
          font-size: 24px;
          margin: 0px;
          float: left;
          width: 100%;
          a {
            width: 100%;
            color: white;
            text-decoration: underline;
          }
        }
        img {
          margin: 0 0 0 0;
          border: 5px solid black;
          border-bottom: 0px;
          width: 335px;
          float: left;
        }
        span {
          padding: 0 3px 0 3px;
          overflow: hidden;
          background-color: #521717;
          color: white;
          display: block;
          float: left;
          width: 100%;
          @include UniversCn;
        }
      }
      div {
        margin: 5px 0 0 0;
        display: block;
      }
    }
    article.image {
      header {        
        @include CategoryAside(22px);

      }
      div {
        margin: 5px 0 0 0;
      }
    }
    article:nth-child(odd) {
      margin-right: 0px;
    }

    article:nth-child(1) {
      width: 700px;
      header {
        width: 100%;
        h1 {
          width: 100%;
          a {
            width: 100%;
          }
        }
        img {
          width: 690px;
        }
      }
    }
  }

  article {
    header h1 a {
      font-size: 24px;
      text-decoration: none;
      font-weight: normal; }
    &.listed {
      margin-top: 10px; } }

  article.listed img {
    float: left; }

  header.article {
    margin-top: 60px;

    a.category {
      color: black;
      background-color: white;
      border-top: 3px solid black;
      display: block;
      width: 100%;
      text-align: right;
      text-decoration: none; }
    span {
      &.display.author {
        font-size: 16px;
        margin-bottom: 15px;
        display: block; }
      &.author a {
        text-decoration: none; } } }

  #main {
    div.article p {
      img {
        max-width: 200px;
        float: right;
        margin: 0px 0px 20px 20px; }
      &:nth-child(even) img {
        float: left;
        margin: 0px 20px 20px 0px; } }
    padding-bottom: 40px; }

  div {
    h1 {
      font-size: 24px; 
      line-height: 34px; }
    h2 {
      font-size: 20px;
      line-height: 30px; }
    h3 {
      font-size: 18px;
      line-height: 27px; }
    h4 {
      font-size: 16px;
      line-height: 24px; }
    h5 {
      font-size: 14px;
      line-height: 21px; }
    article h1 {
      font-size: 16px;
      display: block;
      margin: 0px;
      overflow: hidden;
      padding: 5px 0 0 0;
      line-height: 1;
      font-weight: bold; } }
}


/* #Twitter
================================================== */

.twitter {
  color: white; }

ul.tweet_list {
  display: block;
  float: left;
  overflow: hidden;
  margin-bottom: 0;
  .awesome, .epic {
    text-transform: uppercase; }
  li {
    overflow: hidden;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
    font-size: 14px;
    color: #aaa;
    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; } }
  .tweet_even {
    background-color: #0c0c0c; }
  .tweet_odd {
    background-color: #080808; }
  .tweet_avatar {
    padding-right: .5em;
    float: left;
    img {
      vertical-align: middle; } } }

/* Tabular */

table {
  margin: 10px 0 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  line-height: 2;
  width: 100%;
  h1 {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 18px; }
  th {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    &.title {
      text-align: left; } }
  tr.header:hover {
    background-color: transparent; } }

dl {
  margin-left: 1em;
  margin-bottom: 1em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 1em; }

/* #Page Styles
================================================== */
@mixin Dymo($bg: black, $fg: white) {
  background-color: $bg;
  color: $fg;
  overflow: hidden;
  display: inline;
  @include UniversCn();
}

/* #Events
================================================== */

#main {
  header.events {
    h1 {
      font-size: 48px;
      line-height: 48px;
    }
  }
  section.breadcrumbs.event {
    margin-top: 0;
  }
  div.events {
    article {
      display: block;
      overflow: hidden; 
      word-wrap: break-word;
      header {
        h1 {
          background-color: black;
          display: block;
          padding: 3px 3px 3px 3px;
          line-height: 24px;
          font-size: 24px;
          margin: 0px;
          a {
            color: white;
            text-decoration: underline;
          }
        }
        img {
          margin: 0 0 5px 0;
          border: 5px solid black;
        }
        span {
          padding: 0 3px 0 3px;
          overflow: hidden;
          background-color: #521717;
          color: white;
          display: block;
        }
      }
      div {
        margin: 5px 0 0 0;
        display: block;
      }
    }
    article.image {
      h1 {
        padding: 3px 3px 3px 10px;
      }
      span {
        padding: 0 3px 0 10px;
      }
      div {
        margin: 5px 0 0 240px;
      }
    }
    article.image:nth-child(even) {
      header {
        img {
          float: right;
        }
        h1 {
          padding: 3px 10px 3px 3px;

        }
        span.date {
          padding: 0 10px 0 3px;
        }
      }
      div {
        margin: 5px 240px 0 0;
        display: block;
      }
    }
  }
}

#main {
  header.event {
    margin-top: 10px;
    h1 {
      margin-bottom: 0px;
      font-size: 36px;
    }
    span, a, label, span.event.date {
      @include UniversCn;
      font-size: 22px;
    }
    div {
      width: 100%;
      display: block;
      overflow: hidden;
    }
    label {
      margin-right: .5em;
      margin-top: .5em;
      width: 120px;
      display: block;

    }
  }
  header.event.header_image {
    min-height: 200px;
    max-height: 500px;
    background-position: center;
    label {
      display: none;
    }
    div {
      padding: 2px 5px;
      margin: 8px 5px;
    }
    h1 {
      @include Dymo(white, black);
      line-height: 1;
    }
    span.event {
      @include Dymo(white, black);
    }
    span.event.price {
      font-size: 32px;
      line-height: 1;
    }

    a {
      @include Dymo(white, black);
      font-size: 20px;
    }
  }
  header.event.dark_bg {
    h1 {
      @include Dymo();
    }
    span.event {
      @include Dymo();
    }
    span.event.price {
    }

    a {
      @include Dymo();
    }
  }
}

/* #In page picture galleries
================================================== */

#main div {
  ul.gallery {
    margin: 0;
    padding: 5px 0 0 5px;
    text-indent: 0;
    overflow: hidden;
    background: black;
    width: 693px;
    li {
      float: left;
      display: block;
      margin: 0;
      padding: 0;
      a {
        img {
          margin: 0 5px 5px 0;
        }
      }
    }
  }
  ul.attachments li {
    list-style-type: none;
    a {
      img {
        vertical-align: baseline;
      }
    } 
  }
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #main {
    div.home-boxes {
      width: 100%;
      a img {
        width: 263px;
      }
      article {
        width: 273px;
      }
    }
    div.articles {
      article {
        width: 273px;
        a img {
          width: 263px;
        }
      }
      article:nth-child(1) {
        width: 556px;
        a img {
          width: 546px;
        }
      }
    }
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  #main-container {
    >header {
      background-image: none;
      background: #010101;
    }
    overflow: hidden;
  }
  #main {
    #black-bloc {
      height: auto;
      background: #080808;
      background-image: none;
      padding-bottom: 10px;
    }
    div {
      ul.gallery {
        width: 100%;
        li {
          width: 45%;
          img {
            width: 100%;
          }
        }
      }
    }
    div.home-boxes {
      width: 100%;
      article {
        width: 100%;
        header {
          h1 {
            width: 100%;
          }
          a img {
            border-left: none;
            border-right: none;
            width: 100%;
          }
          aside {
            margin-right: 0px;
          }
        }

      }
    }
    div.home-events {
      margin-left: 0px;
    }
    div.articles {
      article {
        width: 100%;
        h1 {
          width: 100%;
        }
        a img {
          width: 100%;
          border-left: none;
          border-right: none;
        }
      }
      article:nth-child(1) {
        width: 100%;
        a img {
          width: 100%;
        }
      }
    }

    header.event.header_image {
      img {
        width: 100%;
      }
    }
    #twitter {
      display: none;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

}
