@mixin UniversCn($style: normal) {
  font-family: 'UniversCn', sans-serif;
  text-transform: uppercase;
  font-style: $style;
}


body {
  background: #010101 url(../images/skewed_print.png);
  color: white; }

a {
  color: black;
  &:visited {
    color: black; } }

code {
  font-family: 'Dejavu Sans Mono', monospace; }

ul li {
  list-style-type: square;
  margin-left: 1em;
  line-height: 1.4; }

pre {
  background-color: #010101;
  color: white;
  padding: 10px;
  margin: 20px 10px; }

div.container {
  background: white;
  color: black; }

#main-container>header {
  overflow: hidden;
  background: url(../images/logo_lg_head_960.png) no-repeat top;
  h1 {
    span.line-1 {
      font-size: 24px;
      display: block;
    }
    span.line-2 {
      display: block;
      font-size: 43px;
      height: 20px;
      margin-left: -2px;
      margin-top: 2px;
      margin-bottom: 5px;
    }
    display: block;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 0px;
    line-height: .8;
    a {
      color: white; } } }

body>div>header h1 {
  color: white; }

#main>header {
  margin-bottom: 10px;
  margin-top: 10px;
  h1 {
    font-size: 32px;
    color: black;
    margin-top: 0px; }
  span {
    &.tags {
      font-size: 10px;
      text-transform: uppercase;
      a {} }
    &.date {
      font-size: 14px;
      display: block; } }
  .event.date {
    font-size: 18px; }
  span {
    &.date sup {
      text-transform: none; }
    &.subtitle {
      font-size: 16px;
      font-style: italic;
      margin-bottom: 15px;
      display: block; } } }

#main {
  div {
    p {
      line-height: 1.2; 
      word-wrap: break-word; }
    &.page p {
      line-height: 1.4;}
    ul {
      margin-left: 1em; }
    &.article p {
      line-height: 28px;
      font-size: 17px; }
    img {
      float: left;
      margin: 0px 10px 10px 0px;
      &.even {
        float: right;
        margin: 0px 0px 10px 10px; } } }
  div.home-articles article, div.home-events article {
    header {
      img {
        border: 2px solid black;
        border-top: none;
        margin: 0 5px 2px 0;
      }
      h1 {
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        padding: 5px 0 0 0;
        a {
          text-decoration: underline;
        }
      }
    }
  }
  div.home-articles article:nth-child(even) ,
  div.home-events article:nth-child(even) {
    header {
      img {
        float: right;
        margin: 0 0 2px 5px;
      }
    }
  }
}

div.container>header a {
  text-decoration: none; }

footer {
  color: white;
  a {
    color: white;
    &:visited {
      color: white; } } }

figure {
  background: #521717;
  color: white;
  font-size: 12px;
  padding: 10px;
  width: 240px;
  margin: 10px 0px; }

.align {
  &.right {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em; }
  &.left {
    float: left;
    margin-right: 2em; } }

blockquote.giant {
  font-size: 28px;
  &:before {
    content: '&ldquo;'; } }

figure img {
  width: 100%; }

figure>a {
  display: block;
  width: 100%;
  text-align: right;
  font-style: italic;
  color: white;
  text-decoration: none;
  &:visited {
    display: block;
    width: 100%;
    text-align: right;
    font-style: italic;
    color: white;
    text-decoration: none; }
  &:before {
    content: "Source: ";
    text-decoration: none; } }

sup {
  font-size: 70%;
  vertical-align: super; }

div.container>aside {
  background: #0a0a0a;
  padding: 0px; }

#main #black-bloc {
  color: white;
  display: block;
  height: 200px;
  background: url(../images/logo_sm_rect_200.png) #080808 right no-repeat;
  padding: 0px;
  margin-top: 10px;
  p {
    line-height: 1.2;
    margin: 10px 10px 16px 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    a {
      color: white;
      &:visited {
        color: white; } }
    &.quote {
      margin-top: 0px;
      font-size: 22px;
      line-height: 1.2;
      font-style: italic;
      text-transform: none; } } }

div {
  &.container>footer {
    padding: 10px;
    background: #080808; }
  &.container>header nav {
    background: #080808;
    width: 100% !important;
    color: white;
    a {
      color: white;
      &:hover {
        background: #3d1111; } }
    li {
      float: left;
      list-style-type: none;
      margin: 0px;
      a {
        display: block;
        text-align: center;
        font-size: 16px;
        padding: 8px 10px;
        color: white; } } }
  &.container > header nav > ul {
    &.primary > li.selected a, &.secondary a {
      color: white; }
    &.primary > li.selected, &.secondary {
      background: #521717;
      color: white; } }
  &.container>header nav>ul {
    overflow: hidden;
    width: 100%;
    margin: 0px;
    &.secondary>li.selected {
      font-weight: 800; } } }

/* Navigation */

/* Article related */
#main {
  article {
    header h1 a {
      font-size: 24px;
      text-decoration: none;
      font-weight: normal; }
    &.listed {
      margin-top: 10px; } }

  a.category {
    text-decoration: none;
    display: block;
    color: white;
    background: #080808;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 5px 0px 5px; }

  article.listed img {
    float: left; }

  header.article {
    margin-top: 60px;

    a.category {
      color: black;
      background-color: white;
      border-top: 3px solid black; }
    span {
      &.display.author {
        font-size: 16px;
        margin-bottom: 15px;
        display: block; }
      &.author a {
        text-decoration: none; } } }

  #main {
    div.article p {
      img {
        max-width: 200px;
        float: right;
        margin: 0px 0px 20px 20px; }
      &:nth-child(even) img {
        float: left;
        margin: 0px 20px 20px 0px; } }
    padding-bottom: 40px; }

  #main>div {
    h1 {
      font-size: 24px; }
    h2 {
      font-size: 20px; }
    h3 {
      font-size: 18px; }
    h4 {
      font-size: 16px; }
    h5 {
      font-size: 14px; }
    article h1 {
      font-size: 16px;
      display: bl3d1111ock;
      margin: 0px;
      overflow: hidden;
      padding: 5px 0 0 0;
      line-height: 1;
      font-weight: bold; } }
}


/* Twitter stuff */

.twitter {
  color: white; }

.tweet_list {
  .awesome, .epic {
    text-transform: uppercase; }
  li {
    overflow: hidden;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
    font-size: 14px;
    color: #aaa;
    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; } }
  .tweet_even {
    background-color: #0c0c0c; }
  .tweet_odd {
    background-color: #080808; }
  .tweet_avatar {
    padding-right: .5em;
    float: left;
    img {
      vertical-align: middle; } } }

/* Tabular */

table {
  margin: 10px 0 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  line-height: 2;
  width: 100%;
  h1 {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 18px; }
  th {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    &.title {
      text-align: left; } }
  tr.header:hover {
    background-color: transparent; } }

dl {
  margin-left: 1em;
  margin-bottom: 1em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 1em; }

/* #Page Styles
================================================== */
@mixin Dymo($bg: black, $fg: white) {
  background-color: $bg;
  float: left;
  color: $fg;
  padding: 2px 5px;
  margin: 8px 5px;
  overflow: hidden;
  display: block;
  @include UniversCn();
}

/* #Events
================================================== */

#main {
  header.events {

  }
  div.events {
    article {
      display: block;
      overflow: hidden;
      header {
        h1 {
          background-color: black;
          display: block;
          padding: 3px 3px 3px 10px;
          line-height: 24px;
          font-size: 24px;
          margin: 0px;
          a {
            color: white;
            text-decoration: underline;
          }
        }
        img {
          margin: 0 0 5px 0;
          border: 5px solid black;
        }
        span.date {
          padding: 0 3px 0 10px;
          overflow: hidden;
          background-color: #521717;
          color: white;
          display: block;
        }
      }
      div {
        margin: 5px 0 0 0;
        display: block;
      }
    }
    article.image {
      div {
        margin: 5px 0 0 240px;
      }
    }
    article.image:nth-child(even) {
      header {
        img {
          float: right;
        }
        h1 {
          padding: 3px 10px 3px 3px;

        }
        span.date {
          padding: 0 10px 0 3px;
        }
      }
      div {
        margin: 5px 240px 0 0;
        display: block;
      }
    }
  }
}

#main {
  header.event {
    margin-top: 10px;
    h1 {
      margin-bottom: 0px;
      font-size: 36px;
    }
    span, a, label, span.event.date {
      @include UniversCn;
      font-size: 22px;
    }
    div {
      width: 700px;
      display: block;
      overflow: hidden;
    }
    label {
      margin-right: .5em;
      margin-top: .5em;
      width: 120px;
      display: block;

    }
  }
  header.event.header_image {
    height: 200px;
    label {
      display: none;
    }
    h1 {
      @include Dymo(white, black);
      line-height: 1;
    }
    span.event {
      @include Dymo(white, black);
    }
    span.event.price {
      font-size: 32px;
      line-height: 1;
    }

    a {
      @include Dymo(white, black);
      font-size: 20px;
    }
  }
  header.event.dark_bg {
    h1 {
      @include Dymo();
    }
    span.event {
      @include Dymo();
    }
    span.event.price {
    }

    a {
      @include Dymo();
    }
  }
}

/* #In page picture galleries
================================================== */

#main div ul.gallery {
  margin: 0;
  padding: 5px 0 0 5px;
  text-indent: 0;
  overflow: hidden;
  background: black;
  width: 693px;
  li {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    a {
      img {
        margin: 0 5px 5px 0;
      }
    }
  }
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #black-bloc {
    height: auto;
    background: #080808;
    padding-bottom: 10px; } }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #black-bloc {
    height: auto;
    background: #080808;
    padding-bottom: 10px; } }
