body {
  background: #010101 url(../images/hold-fast.png);
  color: white; }

a {
  color: black;
  &:visited {
    color: black; } }

code {
  font-family: 'Dejavu Sans Mono', monospace; }

ul li {
  list-style-type: square;
  margin-left: 2em;
  line-height: 1.4; }

pre {
  background-color: #010101;
  color: white;
  padding: 10px;
  margin: 20px 10px; }

div.container {
  background: white;
  color: black; }

#main-container>header {
  overflow: hidden;
  background: url(../images/logo_lg_head_960.png) no-repeat top;
  h1 {
    display: block;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0px;
    line-height: .8;
    a {
      background-color: #080808;
      color: white; } } }

body>div>header h1 {
  color: white; }

#main>header {
  margin-bottom: 10px;
  margin-top: 60px;
  h1 {
    font-size: 32px;
    color: black;
    margin-top: 0px; }
  span {
    &.tags {
      font-size: 10px;
      text-transform: uppercase;
      a {} }
    &.date {
      font-size: 14px;
      display: block; } }
  .event.date {
    font-size: 18px; }
  span {
    &.date sup {
      text-transform: none; }
    &.subtitle {
      font-size: 16px;
      font-style: italic;
      margin-bottom: 15px;
      display: block; } } }

#main div {
  p {
    line-height: 1.2;
    font-size: 14px; }
  &.page p {
    line-height: 1.4;
    font-size: 15px; }
  ul {
    margin-left: 2em !important; }
  &.article-body p {
    line-height: 28px;
    font-size: 17px; }
  img {
    float: left;
    margin: 0px 10px 10px 0px;
    &.even {
      float: right;
      margin: 0px 0px 10px 10px; } } }

div.container>header a {
  text-decoration: none; }

footer {
  color: white;
  a {
    color: white;
    &:visited {
      color: white; } } }

figure {
  background: #521717;
  color: white;
  font-size: 12px;
  padding: 10px;
  width: 240px;
  margin: 10px 0px; }

.align {
  &.right {
    float: right;
    margin-left: 2em;
    margin-bottom: 1em; }
  &.left {
    float: left;
    margin-right: 2em; } }

blockquote.giant {
  font-size: 28px;
  &:before {
    content: '&ldquo;'; } }

figure img {
  width: 100%; }

figure>a {
  display: block;
  width: 100%;
  text-align: right;
  font-style: italic;
  color: white;
  text-decoration: none;
  &:visited {
    display: block;
    width: 100%;
    text-align: right;
    font-style: italic;
    color: white;
    text-decoration: none; }
  &:before {
    content: "Source: ";
    text-decoration: none; } }

sup {
  font-size: 70%;
  vertical-align: super; }

div.container>aside {
  background: #0a0a0a;
  padding: 0px; }

#black-bloc {
  color: white;
  display: block;
  height: 200px;
  background: url(../images/logo_sm_rect_200.png) #080808 right no-repeat;
  padding: 0px;
  margin-top: 10px;
  p {
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
    a {
      color: white;
      &:visited {
        color: white; } }
    &.quote {
      margin-top: 0px;
      font-size: 22px;
      line-height: 1.2;
      font-style: italic;
      text-transform: none; } } }

div {
  &.container>footer {
    padding: 10px;
    background: #080808; }
  &.container>header nav {
    background: #080808;
    width: 100% !important;
    color: white;
    a {
      color: white;
      &:hover {
        background: #3d1111; } }
    li {
      float: left;
      list-style-type: none;
      margin: 0px;
      a {
        display: block;
        text-align: center;
        font-size: 16px;
        padding: 8px 10px;
        color: white; } } }
  &.container > header nav > ul {
    &.primary > li.selected a, &.secondary a {
      color: white; }
    &.primary > li.selected, &.secondary {
      background: #521717;
      color: white; } }
  &.container>header nav>ul {
    overflow: hidden;
    width: 100%;
    margin: 0px;
    &.secondary>li.selected {
      font-weight: 800; } } }

/* Navigation */

/* Article related */

article {
  header h1 a {
    font-size: 24px;
    text-decoration: none;
    font-weight: normal; }
  &.listed {
    margin-top: 10px; } }

a.category {
  text-decoration: none;
  display: block;
  color: white;
  background: #080808;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px 5px 0px 5px; }

article.listed img {
  float: left; }

header.article-header {
  a.category {
    color: black;
    background-color: white;
    border-top: 3px solid black; }
  span {
    &.display.author {
      font-size: 16px;
      margin-bottom: 15px;
      display: block; }
    &.author a {
      text-decoration: none; } } }

#main {
  div.article-body p {
    img {
      max-width: 200px;
      float: right;
      margin: 0px 0px 20px 20px; }
    &:nth-child(even) img {
      float: left;
      margin: 0px 20px 20px 0px; } }
  padding-bottom: 40px; }

#main>div {
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 18px; }
  h4 {
    font-size: 16px; }
  h5 {
    font-size: 14px; }
  article h1 {
    font-size: 16px;
    display: bl3d1111ock;
    margin: 0px;
    overflow: hidden;
    padding: 5px 0 0 0;
    line-height: 1;
    font-weight: bold; } }

/* Twitter stuff */

.twitter {
  color: white; }

.tweet_list {
  .awesome, .epic {
    text-transform: uppercase; }
  li {
    overflow: hidden;
    padding: 10px;
    list-style-type: none;
    margin: 0px;
    font-size: 12px;
    color: #aaa;
    a {
      color: #fff;
      font-weight: bold;
      text-decoration: none; } }
  .tweet_even {
    background-color: #0c0c0c; }
  .tweet_odd {
    background-color: #080808; }
  .tweet_avatar {
    padding-right: .5em;
    float: left;
    img {
      vertical-align: middle; } } }

/* Tabular */

table {
  margin: 10px 0 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  line-height: 2;
  width: 100%;
  h1 {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 18px; }
  th {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
    &.title {
      text-align: left; } }
  tr.header:hover {
    background-color: transparent; } }

dl {
  margin-left: 1em;
  margin-bottom: 1em; }

dt {
  font-weight: bold; }

dd {
  margin-left: 1em; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #black-bloc {
    height: auto;
    background: #080808;
    padding-bottom: 10px; } }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  #black-bloc {
    height: auto;
    background: #080808;
    padding-bottom: 10px; } }
