<!doctype html>{% load staticfiles %}{% load compress %}{% load labjs %}{% load humanize %}
<html lang="en"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>{% block title %}Brighton Feminist Collective{% endblock %}</title>
	<meta name="description" content="{% block meta_description %}Started in December 2011, Brighton Feminist Collective is a sex-positive, pro-choice, trans-inclusive, and anti-exploitation feminist activist group.{% endblock %} " />
	<meta name="author" content="{% block meta_author %}Dapper Dog Studios{% endblock %}">
	<meta name="keywords" content="brighton, feminist, collective,  abort67, reclaim, dancefloor, abortion, feminism, activist, kyriarchy"/>

	<meta name="viewport" content="width=device-width" />
	<meta name="google-site-verification" content="w75DgnsnUjKK-QPT8wVABkSvoGYudGhpF12G5k0QaT4" />
	<meta name="google-site-verification" content="pca_v7HOtC5Xp0rnP5SMIr3tIO7r1UxqRT4SS3B-a8M" />
	{% block opengraph %}
		<meta property="og:site_name" content="Brighton Feminist Collective"/>
	    <meta property="fb:admins" content="789560245"/>
	    {% if page %}

		    <meta property="og:url" content="http://{{ SITE_DOMAIN }}{{ page.url }}" />
		{% endif %}
	{% endblock %}
	<link href='http://fonts.googleapis.com/css?family=Poly:400,400italic|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	{% compress css %}
		<link rel="stylesheet" type="text/x-scss"  href="{% static 'scss/base.scss' %}">
		<link rel="stylesheet" type="text/css"     href="{% static 'css/skeleton.css' %}">
		<link rel="stylesheet" type="text/css"     href="{% static 'css/jquery.fancybox.css' %}">
		<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/layout.scss' %}">
	{% endcompress %}
	<link rel="canonical" href="http://www.brightonfeministcollective.org.uk{{ g.canonical_url }}" />

	{% block extrahead %}{% endblock %}
</head>
<body>
<div id="main-container" class="container">
	<header class="main-header">
		<div class="sixteen columns">
			<h1><a href="/"><span class="line-1">Brighton Feminist</span><span class="line-2">Collective</span></a></h1>
		</div>
		<nav class="sixteen columns alpha omega">
			<ul class="primary">
				{% for item in nav.primary.items %}
					<li class="
						{% if item == nav.primary.selected %}
							selected
						{% endif %}"
						{% if item == nav.primary.selected %}
							itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
						{% endif %}
					><a itemprop="url" href="{{ item.url }}"><span itemprop="title">{{ item.title }}</span></a>
				{% endfor %}
			</ul>
			<ul class="secondary">
				{% for item in nav.secondary.items %}
					<li class="
						{% if item == nav.secondary.selected %}
							selected
						{% endif %}"
						{% if item == nav.secondary.selected %}
							itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb"
						{% endif %}
					>
						<a itemprop="url" href="{{ item.url }}">
							<span itemprop="title">{{ item.title }}</span>
						</a>
						</li>
				{% endfor %}
			</ul>
		</nav>
	</header>
	<section id="main" class="twelve columns main-column">
	{% block content %}
	{% endblock %}
	</section>
	<aside class="columns four alpha omega" id="twitter">
		<ul class="tweet_list">
			{% for tweet in twitter.latest_tweets %}
				<li class="four columns alpha omega tweet_{% cycle 'odd' 'even' %}">
					<a class="tweet_avatar" href="{{ tweet.account.url }}">
						<img src={% static 'images/twitter_normal.png' %} width=50 height=50/>
					</a>
					<span class="tweet_time">
						<a href="{{ tweet.url }}">
							about {{ tweet.created_at|naturaltime }}
						</a>
					</span>
					<span class="tweet_text">
						{{ tweet.html|safe }}
					</span>
				</li>
			{% endfor %}
		</ul>
	</aside>
	<footer class="columns sixteen alpha omega">
		Website by <a href="http://www.dapperdogstudios.com">Dapper Dog Studios</a>, Copyright &copy; 2012 Brighton Feminist Collective
	</footer>
</div>
<script
{% if debug %}
	data-main="{% static 'js/main.js' %}"
{% else %}
	data-main="{% static 'js/main-built.js' %}"
{% endif %}
	src="{% static 'js/require.js' %}"
></script>
<script>
	var _gaq=[['_setAccount','UA-29822466-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https://ssl.google-analytics.com/ga.js');
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>