{% extends 'page.html' %}
{% block body %}
        <div class="twelve columns alpha omega">
            {{ page.body }}
            {% if events %}
                {% for event in events %}
                    <article>
                        <header>
                            <h1><a href="{{ event.url }}">{{ event.title }}</a></h1>
                            <span class="date">{{ event.start.strftime('%B %d, %Y @ %I:%M%p') }} &mdash; {{ event.start.strftime('%I:%M%p') }}</span>
                        </header>
                        <p>{{ event.excerpt }}</p>
                    </article>
                {% endfor %}
            {% else %}
            <p>There are no events to see.</p>
            {% endif %}

        </div>
{% endblock %}