{% extends 'page.html' %}
{% block breadcrumbs %}{% endblock %}
{% block header %}
    <div class="twelve columns alpha omega" id="black-bloc">
        <p class="six columns">Started in December 2011, Brighton Feminist Collective is a sex-positive, pro-choice, trans-inclusive, and anti-exploitation feminist activist group.</p>
        <p class="six columns">Follow <a href="http://twitter.com/BrightonFemCol">@BrightonFemCol</a> on Twitter</p>
        
        <p class="eight columns quote">&ldquo;My feminism will be intersectional or it will be bullshit!&rdquo; &ndash; Flavia Dzodan</p>
    </div>
    <div class="home-articles">
        {% for article in home.articles %}
            {% include 'snippets/home_article_block.html' with article=article %}
        {% endfor %}
    </div><div class="home-events">
        {% for event in home.events %}
            {% include 'snippets/home_article_block.html' with article=event %}
        {% endfor %}
    </div>
    <hr />
{% endblock %}