{% extends 'base.html' %}{% load thumbnail %}
{% block title %}{{ title }} - Brighton Feminist Collective{% endblock %}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:url" content="http://{{ SITE_DOMAIN }}{{ url }}" />
{% endblock %}
{% block content %}
    <header class="twelve columns alpha omega events">
        <h1>{{ title }}</h1>
        {{ page.body }}
    </header>
    <div class="twelve columns alpha omega events">
        {% if events %}
            {% for event in events %}
                <article class="{% if event.images.all.count > 0 %}image{% endif %}">
                    <header>
                        {% if event.images.all.count > 0 %}
                            {% thumbnail event.image.image '220x150' crop='center' as im %}
                            <a href="{{ event.url }}">
                                <img src={{ im.url }} alt="{{ event.image.alt }}" title="{{ event.title }}{% if photo.image.credit %} credit: {{ event.image.credit }}{% endif %}"/>
                            </a>
                            {% endthumbnail %}
                        {% endif %}
                        <h1><a href="{{ event.url }}">{{ event.title }}</a></h1>
                        {% include 'suave_calendar/snippets/event_date.html' %}
                    </header>
                    <div>
                        <p>{{ event.body|striptags|safe|truncatechars:285 }}</p>
                    </div>
                </article>
            {% endfor %}
        {% else %}
        <p>There are no events to see.</p>
        {% endif %}

    </div>
{% endblock %}