{% extends 'base.html' %}{% load thumbnail %}{% load static %}
{% block title %}{{ event.title }} - Brighton Feminist Collective{% endblock %}
{% block meta_description %}{{ event.body|striptags|safe|truncatechars:285 }}{% endblock %}
{% block meta_author %}Brighton Feminist Collective{% endblock %}
{% block opengraph %}
    <meta property="og:url" content="https://{{ SITE_DOMAIN }}{{ event.url }}" />
    <meta property="og:title" content="{{ event.title|striptags|safe }}"/>
    <meta property="og:type" content="activity"/>
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:url" content="https://{{ SITE_DOMAIN }}{{ event.url }}" />
    <meta name="twitter:description" content="{{ event.body|striptags|safe|truncatewords:25 }}">
    <meta name="twitter:title" content="{{ event.title|striptags|safe }}">
    <meta property="og:description"
          content="{{ event.body|striptags|safe|truncatechars:385 }}"/>
{% endblock %}
{% block opengraph_image %}
    {% for image in event.images.all %}
    {% thumbnail image.image '120x120' crop='center' as im %}
        <meta property="twitter:image" content="https://{{ SITE_DOMAIN }}{{ im.url }}"/>
        <meta property="og:image" content="https://{{ SITE_DOMAIN }}{{ im.url }}"/>
    {% endthumbnail %}
    {% endfor %}
{% endblock %}
{% block canonical %}https://{{ SITE_DOMAIN }}{{ event.url }}{% endblock %}
{% block schema %}itemscope itemtype="http://schema.org/Event"{% endblock %}
{% block content %}
    {% block header %}
        {% if event.image and event.header_image %}
            {% thumbnail event.image.image '700x500' crop='center' as im %}
            <header
                class="twelve columns alpha omega event header_image{% if event.dark_bg %} dark_bg{% endif %}"
                style="background-image:url({{ im.url }})">
                {% include 'suave_calendar/snippets/event_header.html' %}
            </header>
            {% endthumbnail %}
        {% else %}
            <header class="twelve columns alpha omega event">
                {% include 'suave_calendar/snippets/event_header.html' %}
            </header>
        {% endif %}
    {% endblock %}
    {% block breadcrumbs %}
        <section class='breadcrumbs event' xmlns:v="http://rdf.data-vocabulary.org/#">
            <ul>
                <li typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="/">
                        Home
                    </a>
                </li>
                <li typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="{% url 'suave_calendar:home' %}">
                        Events
                    </a>
                </li>
                <li typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="{{ event.url }}">
                        {{ event }}
                    </a>
                </li>
            </ul>
        </section>
    {% endblock %}
    {% block body %}
        <div class="twelve columns alpha omega event">
            
            {% if event.images.all.count > 0 and not event.header_image %}
                {% thumbnail event.image.image '250' crop='center' as im %}
                    <a href={{ event.image.image.url }}><img src={{ im.url }} width=250/></a>
                {% endthumbnail %}
            {% endif %}
            <div itemprop="description">{{ event.body|safe }}</div>
            {% if event.links.all.count > 0 %}
            <h2>Additional Links</h2>
            <ul>
                {% for link in event.links.all %}
                    <li>
                        <a href="{{ link.url }}">{{ link.text }}</a>
                        {% if link.information %}
                            &nbsp;&ndash; {{ link.information }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if event.attachments.all.count > 0 %}
            <h2>Attachments</h2>
            <ul class="attachments">
                {% for attachment in event.attachments.all %}
                    <li>
                        <a href="{{ attachment.file.url }}">
                            <img src={% static attachment.icon %} />
                            {{ attachment.filename }}
                        </a> ({{ attachment.size }})
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if event.images.all.count > 0 %}
                <h2>Pictures</h2>
                {% include 'snippets/gallery.html' with items=event.images.all %}
            {% endif %}
            
        </div>
    {% endblock %}
{% endblock %}
