/** Delightful admin CSS styles **/

.title input {
    font-size: 18px;
    float: left;
}
.body textarea {
    float: left;
    height: 600px;
}

.article-list tr {
    height: 30px;
}

.article-list tr:nth-child(odd) {
    background: #efefef;
}

.article-list tr:nth-child(even) {
    background: #fefefe;
}