{% extends 'base.html' %}{% load thumbnail %}
{% block title %}{{ article.title }} - Brighton Feminist Collective{% endblock %}
{% block meta_description %}{{ article.body|striptags|safe|truncatechars:485 }}{% endblock %}
{% block meta_author %}{{ article.author.username }}{% endblock %}

{% block opengraph %}
    {{ block.super }}
    <meta property="og:url" content="http://{{ SITE_DOMAIN }}{{ article.url }}" />
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:author" content="{{ article.author.username }}"/>
    <meta property="og:type" content="article"/>
    {% for image in article.images.all %}
    {% thumbnail image.image '720x480' crop='center' as im %}
        <meta property="og:image" content="http://{{ SITE_DOMAIN }}{{ im.url }}"/>
    {% endthumbnail %}
    {% endfor %}
    <meta property="og:description"
          content="{{ article.body|striptags|safe|truncatechars:385 }}"/>
{% endblock %}
{% block canonical %}http://{{ SITE_DOMAIN }}{{ article.url }}{% endblock %}
{% block content %}
    {% block header %}
        <header class="ten columns article alpha omega offset-by-one">
            {{ article.tags_html }}
            <a href="{{ article.category.url }}" class="category">{{ article.category.title }}</a>
            <h1><span>{{ article.title }}</span></h1>
            <span class="subtitle">{{ article.subtitle }}</span>
            <span class="article display author">By <a href="#">{{ article.author }}</a></span>
            <span class="date">{{ article.published|date:'F d, Y' }}</span>
        </header>
    {% endblock %}
    {% block body %}
        <div class="ten columns offset-by-one alpha article">
            {{ article.body|safe }}

        </div>
        <div class="twelve columns alpha article">
        {% if article.attachments.all.count > 0 %}
        <h2>Attachments</h2>
        <ul class="attachments">
            {% for attachment in article.attachments.all %}
                <li>
                    <a href="{{ attachment.file.url }}">{{ attachment.filename }}</a> ({{ attachment.size }})
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    
        {% if article.images.all.count > 0 %}
            <h2>Pictures</h2>
            {% include 'snippets/gallery.html' with items=article.images.all %}
        {% endif %}
        </div>
    {% endblock %}
{% endblock %}