{% extends 'base.html' %}{% load thumbnail %}
{% block title %}{{ article.title }} - Brighton Feminist Collective{% endblock %}
{% block meta_description %}{{ article.body|striptags|safe|truncatechars:485 }}{% endblock %}
{% block meta_author %}{{ article.author.username }}{% endblock %}

{% block opengraph %}
    {{ block.super }}
    <meta property="og:url" content="https://{{ SITE_DOMAIN }}{{ article.url }}" />
    <meta property="og:title" content="{{ article.title|striptags|safe }}"/>
    <meta property="og:author" content="{{ article.author.username }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description"
          content="{{ article.body|striptags|safe|truncatewords:25 }}"/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://{{ SITE_DOMAIN }}{{ article.url }}" />
    <meta name="twitter:description" content="{{ article.body|striptags|safe|truncatewords:25 }}">
    <meta name="twitter:title" content="{{ article.title|striptags|safe }}">
{% endblock %}
{% block opengraph_image %}
    {% for image in article.images.all %}
    {% thumbnail image.image '120x120' crop='center' as im %}
        <meta property="og:image" content="https://{{ SITE_DOMAIN }}{{ im.url }}"/>
        <meta property="twitter:image" content="https://{{ SITE_DOMAIN }}{{ im.url }}"/>
    {% endthumbnail %}
    {% endfor %}
{% endblock %}
{% block canonical %}https://{{ SITE_DOMAIN }}{{ article.url }}{% endblock %}
{% block content %}
    {% block breadcrumbs %}
        <section class='breadcrumbs' xmlns:v="http://rdf.data-vocabulary.org/#">
            <ul>
                <li typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="/">
                        Home
                    </a>
                </li>
                <li typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="{% url 'suave_press:home' %}">
                        Articles
                    </a>
                </li>
                <li typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="{% url 'suave_press:category'  category=article.category.slug %}">
                        {{ article.category }}
                    </a>
                </li>
                <li typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="{{ article.url }}">
                        {{ article.title }}
                    </a>
                </li>
            </ul>
        </section>
    {% endblock %}
    {% block header %}
        <header class="ten columns article alpha omega offset-by-one">
            {{ article.tags_html }}
            <a href="{{ article.category.url }}" class="category" itemprop="articleSection">{{ article.category.title }}</a>
            <h1><span itemprop="name">{{ article.title }}</span></h1>
            <span class="subtitle">{{ article.subtitle }}</span>
            <span class="article display author">By <a href="#" itemprop="author">{{ article.author }}</a></span>
            <span class="date" itemprop="datePublished">
                <time itemprop="datePublished" datetime="{ article.published|date:'c' }}">
                    {{ article.published|date:'F d, Y' }}
                </time>
            </span>
        </header>
    {% endblock %}
    {% block body %}
        <div class="ten columns offset-by-one alpha article" itemscope itemtype="http://schema.org/Article">
            <div itemprop="articleBody">
            {{ article.html|safe }}
            </div>
        </div>
        <div class="twelve columns alpha article">
        {% if article.attachments.all.count > 0 %}
        <h2>Attachments</h2>
        <ul class="attachments">
            {% for attachment in article.attachments.all %}
                <li>
                    <a href="{{ attachment.file.url }}">{{ attachment.filename }}</a> ({{ attachment.size }})
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    
        {% if article.images.all.count > 0 %}
            <h2>Pictures</h2>
            {% include 'snippets/gallery.html' with items=article.images.all %}
        {% endif %}
        <h1>Comments</h1>
        <div id="disqus_thread"></div>
        <script type="text/javascript" async>
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'brightonfeministcollective'; // required: replace example with your forum shortname
            var disqus_identifier = 'article-{{ article.id }}';
            var disqus_title = '{{ article.title }}';
            var disqus_url = 'https://{{ SITE_DOMAIN }}{{ article.url }}';
            var disqus_developer = 0; // or 1 based on if you're looking to skip URL authentication
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
        </div>
    {% endblock %}
{% endblock %}