{% extends 'base.html' %}
{% block content %}
        {% block header %}
        <header class="twelve columns alpha omega ">
            <h1>{{ category.title }}</h1>
        </header>
        {% endblock %}
        {% block posthead %}
        <div class="twelve columns alpha omega">
            {% if category.articles.live.count > 0 %}
                {% for article in category.articles.live %}
                    <article>
                        <header>
                            <h1><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
                            <span class="date">{{ article.published|date:'F d, Y' }}</span>
                        </header>
                        <p>{{ article.body|striptags|safe|truncatewords:100 }}</p>
                    </article>
                {% endfor %}
            {% else %}
            <p>There are no articles in this category.</p>
            {% endif %}

        </div>
        {% endblock %}
{% endblock %}