{%- macro flashes() %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
      {% for category, message in messages %}
        {% if category == 'error' %}
          <li class="error">{{ message }}</li>
        {% elif category == 'success' %}
          <li class="success">{{ message }}</li>
        {% else %}
          <li>{{ message }}</li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endmacro -%}{% block main %}{% endblock %}